.messageLeft {
  background-color: red;
  max-width: 400px;
}
.messageRight {
  background-color: blue;
  max-width: 400px;
}

.authBox {
  width: 500px;
  min-height: 300px;
  margin-top: 100px;
  padding: 0;
  border: 1px solid black;
  background-color: lightgray;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.navigation {
  height: 50px;
  width: 100%;
  background-color: #51cfe8;
  text-align: right;
  box-shadow: 10px;
}

.NavLink {
  color: black;
  height: 100%;
  font-size: 18px;
  text-decoration: none;
  margin: auto;
  padding: 10px;
} 
.NavLink:hover {
  color: orange;
  text-decoration: none;
}
.NavLinkActive {
  color: red;
}

.Input {
  margin: 10px;
  padding: 10px;
  width: 100%;
}